.full-height {
  height: calc(100vh - 98px);
}

.full-height:nth-child(1) {
  display: none;
}

.full-height .MuiContainer-root {
  padding: 0 27px;
}

.full-height .title-home {
  padding: 41px 0 17px 0;
  display: flex;
  min-height: 64px;
  justify-content: center;
}

.full-height .MuiTypography-h5 {
  width: 50%;
  font-weight: 700;
  font-size: 36px;
  line-height: 41px;
}

.full-height .subtitle {
  padding-bottom: 14px;
  min-height: 31px;
  margin-bottom: 14px;
  max-width: 330px;
}

.full-height .MuiTypography-body1 {
  font-weight: 400;
  font-size: 16px;
}

.full-height .descricao {
  min-height: 27px;
  max-width: 330px;
}

.full-height .MuiTypography-body2 {
  font-size: 10px;
  line-height: 12px;
}

.full-height .actions {
  padding: 50px 0 15px 0;
  display: flex;
  justify-content: space-between;
}

.full-height .actions .MuiButton-contained {
  width: calc(100vw - 200px);
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: none;
}

.full-height .actions .MuiFab-label {
  margin-left: 5px;
}

.full-height .main-image {
  width: 100%;
}

.loading {
  display: flex;
  justify-content: center;
  margin: 30px 0 10px;
}
