@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


.contentCard{
    font-family: 'Ubuntu', sans-serif !important;
    color: #828282 !important;
    font-weight: bold !important;
}